<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bluethink" translate="label" sortOrder="30">
            <label>BlueThink Inc</label>
        </tab>
        <section id="bluethinkinc_checkout_time" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Bluethink Checkout Time Setting</label>
            <tab>bluethink</tab>
            <resource>Bluethinkinc_Checkouttimer::config_bluethinkinc_checkouttimer</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>General Configuration</label>
             <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Enable Module</label>
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field> 
            <field id="checkout_time" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Checkout Timer</label>
            <comment>Please Add Time In Minute.For Example if you want 5 minute.so Add 5 in input box.</comment>
            </field>
            <field id="checkout_time_label" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Sidebar timer Lable</label>
            <comment>Please Add Timer Label.</comment>
            </field> 
            </group> 
        </section>
    </system>
</config>